<!DOCTYPE html>
<html>
<head>
	<title>Daily jobs</title>
</head>
<body>
	<h1>Daily jobs</h1>

  <form action="selectMember()">
   <select id="dropdown" name="dropdown"> 
      <option >Select a member</option>
      <% for (var i = 0; i < member.length; i++) { %>
        <option value='<%=member[i].firstname%>' 
          onfocus="selectMember('<%=member[i].firstname%>')"><%=member[i].firstname%></option>
      <% } %>
    
    </select>
    <!-- <input type="submit"> -->
  </form>
  <div id="jobs">

  </div>
  <ul>
      <% member.forEach(function(m) { %>
          <li><input type="button" onclick="selectMember('<%=m.firstname%>')"><%= m.id %> - <%= m.firstname%></li>
      <% }); %>
  </ul>

  <script>
  function selectMember(dropdown) {
    console.log("received request for selectMember");

    switch (dropdown) { 
      case "Nate":
        console.log("Nate");
        var message = "Monday: Wash the dishes<br>Wednesday: Empty the dishwasher<br>Friday: Wash the dishes, Make dinner<br>";
        document.getElementById('jobs').innerHTML = message;
    
        break;
      case "Jen":


        break;
      case "grandpa":


        break;
      case "grandma":

  
        break;
      case "Natalie":
    
  
        break;
      case "Ava":
  
  
        break;
      case "Corbin":
  
  

        break;
    }
  }

  </script>
</body>
</html>
