<!DOCTYPE html>
<html>
<head>
	<title>Daily jobs</title>
</head>
<body>
	<h1>Daily jobs</h1>

  <select id="dropdown"> 
    <option >Select a member</option>
    <!-- <% for (var i = 0; i < member.length; i++) { %> -->
      <!-- <option><%=member[i+1]%></option> -->
    <!-- <% } %>  -->
    
  </select>

  <!-- <%=member[1]%> -->
  <!-- <%=member[2]%> -->

  <ul>
      <% results.forEach(function(r) { %>
          <li><%= r.id %> - <%= r.firstName %></li>
      <% }); %>
  </ul>
  

  <script>

  </script>
</body>
</html>
