<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Responsibilities</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">   
  </head>
<html>
<body>
	<h2>Monthly jobs</h2>

  <ul>
    <li style="list-style-type: none">Date: Job - member</li>
    <li><%=date[0]%>: <%=job[10].jobname%> - <span class='<%=member[5].firstname%>'><%=member[5].firstname%></span></li>
    <li><%=date[1]%>: <%=job[11].jobname%> - <%=member[6].firstname%></li>
    <li><%=date[2]%>: <%=job[12].jobname%> - <%=member[1].firstname%></li>
    <li><%=date[3]%>: <%=job[13].jobname%> - <span class='<%=member[4].firstname%>'><%=member[4].firstname%></span></li>
  </ul>

  <form action="/add" method="post">
    Date: <input type="text" id="date" name="date"><br>
    Job: <input type="text" id="job" name="job"><br>
    Assigned to:<input type="text" id="assigned" name="assigned"><br>
    <input type="button" value="Add the job"><br>
  </form>

  <script>

  </script>
</body>
</html>
