<!DOCTYPE html>
<html>
<head>
	<title>Monthly jobs</title>
</head>
<body>
	<h1>Monthly jobs</h1>

  <ul>
    <li style="list-style-type: none">Date: Job - member</li>
    <li><%=date[0]%>: <%=job[0].jobname%> - <%=member[0].firstname%></li>
    <li><%=date[1]%>: <%=job[1].jobname%> - <%=member[1].firstname%></li>
    <li><%=date[2]%>: <%=job[2].jobname%> - <%=member[2].firstname%></li>
    <li><%=date[3]%>: <%=job[3].jobname%> - <%=member[3].firstname%></li>

  </ul>


  <script>

  </script>
</body>
</html>
