<!DOCTYPE html>
<html>
<head>
	<title>Monthly jobs</title>
</head>
<body>
	<h1>Monthly jobs</h1>

  <ul>
    <li style="list-style-type: none">Date: Jobs - member</li>
    <li><%=date[0]%>: <%=job[0]%> - <%=member[0]%></li>
    <li><%=date[1]%>: <%=job[1]%> - <%=member[1]%></li>
    <li><%=date[2]%>: <%=job[2]%> - <%=member[2]%></li>
    <li><%=date[3]%>: <%=job[3]%> - <%=member[3]%></li>

  </ul>


  <script>

  </script>
</body>
</html>
